@(url: String)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="connect-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
  <script src='@routes.Assets.versioned("javascripts/jquery-3.4.1.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.versioned("javascripts/hello.js")' type="text/javascript"></script>
  <title>Chat Room</title>

</head>

<body>
<div class="wrap">
  <div class="container-fluid">
    <div>
      <h1 class="">Chat Room</h1>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul id="messages" class="list-unstyled">
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer navbar-fixed-bottom">
  <div class="row">
    <div class="col-xs-8 col-sm-9">
      <input id="message" placeholder="Type Here" type="text"
             autofocus
             autocomplete="off" spellcheck="false" autocorrect="off"
             class="form-control input-lg" />
    </div>

    <div class="col-xs-4 col-sm-3">
      <button id="send" type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
    </div>
  </div>
</div>
<script language="javascript">

</script>
</body>

</html>
